* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#add {
  margin-left: 350px;
  margin-top: 30px;
  background-color: transparent;
  box-shadow: 3px 5px black;
  width: 45px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

#title {
  margin-bottom: 30px;
  width: 397px;
  height: 30px;
}

#author {
  width: 397px;
  height: 30px;
}

h2 {
  font-family: "Roboto", sans-serif;
  width: 95%;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  margin-top: 50px;
}

form {
  width: 400px;
  height: 300px;
  margin-bottom: 100px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

input {
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.container {
  width: 98%;
  min-height: 2px;
  margin-left: 10px;
  border: 1px solid black;
}

.newBook {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 500;
  height: 35px;
  width: 100%;
  padding-right: 16px;
  border-bottom: 1px solid black;
}

.books-list {
  width: 100%;
  height: 360px;
  margin: 68px auto;
}

.newBook:nth-child(odd) {
  background-color: #f2f2f2;
}

.newBook p {
  display: flex;
  height: 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.remove {
  width: 60px;
  height: 25px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid black;
  box-shadow: 3px 5px black;
  margin-top: 0;
}

.add-book {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  display: block;
}

.contact-cont {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  display: block;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  width: 98%;
  height: 100px;
  border: 3px solid rgb(100, 100, 100);
  padding-left: 15px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
}

.date {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.nav ul {
  display: flex;
  list-style: none;
  width: 220px;
  margin-right: 30px;
  height: 20px;
  gap: 6px;
}

.date {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  font-size: 16px;
}

.cont {
  width: 98%;
  height: 310px;
  margin-top: 50px;
  margin-bottom: 140px;
}

.cont h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 48px;
  margin-top: 60px;
}

.det {
  width: 30%;
  height: 150px;
  margin: 20px auto;
  font-size: 20px;
  line-height: 20px;
}

.det ul {
  display: flex;
  flex-direction: column;
  list-style-type: "- ";
  margin-top: 30px;
  margin-left: 40px;
}

.footer {
  height: 100px;
  width: 98%;
  position: fixed;
  bottom: 0;
  /* left: 0; */
  font-family: "Roboto", sans-serif;
  border: 3px solid rgb(100, 100, 100);
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}
